ClientASP/Service References/ServiceReference1/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1135/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1135/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_Transformation_InputMessage">
    <wsdl:part name="parameters" element="tns:Transformation" />
  </wsdl:message>
  <wsdl:message name="IService2_Transformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_RemoveVowels_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVowels" />
  </wsdl:message>
  <wsdl:message name="IService2_RemoveVowels_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVowelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Inverse_InputMessage">
    <wsdl:part name="parameters" element="tns:Inverse" />
  </wsdl:message>
  <wsdl:message name="IService2_Inverse_OutputMessage">
    <wsdl:part name="parameters" element="tns:InverseResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Inverse2By2_InputMessage">
    <wsdl:part name="parameters" element="tns:Inverse2By2" />
  </wsdl:message>
  <wsdl:message name="IService2_Inverse2By2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Inverse2By2Response" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="Transformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Transformation" message="tns:IService2_Transformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/TransformationResponse" message="tns:IService2_Transformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVowels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/RemoveVowels" message="tns:IService2_RemoveVowels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/RemoveVowelsResponse" message="tns:IService2_RemoveVowels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inverse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Inverse" message="tns:IService2_Inverse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/InverseResponse" message="tns:IService2_Inverse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inverse2By2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Inverse2By2" message="tns:IService2_Inverse2By2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/Inverse2By2Response" message="tns:IService2_Inverse2By2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Transformation">
      <soap:operation soapAction="http://tempuri.org/IService2/Transformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVowels">
      <soap:operation soapAction="http://tempuri.org/IService2/RemoveVowels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inverse">
      <soap:operation soapAction="http://tempuri.org/IService2/Inverse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inverse2By2">
      <soap:operation soapAction="http://tempuri.org/IService2/Inverse2By2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:1135/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>